/* Variables */
@font1: 'Seravek', 'Lucida Grande';
@font2: 'ITC SLimbach', 'Myriad';
@red: #be0428;
@white: #fff;
@pale: #f8f9f9;
@lightGrey: #c2c2c2;
@grey: #5d5d5d;
@black: #000;

.container {
    min-width: 900px\9;
}
.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
    transition: @transition;
}

.Bgc-pale {
    background: @pale;
    background: -moz-linear-gradient(left,  #ffffff 0%, #c8c9cb 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#c8c9cb));
    background: -webkit-linear-gradient(left,  #ffffff 0%,#c8c9cb 100%);
    background: -ms-linear-gradient(left,  #ffffff 0%,#c8c9cb 100%);
    background: linear-gradient(to right,  #ffffff 0%,#c8c9cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c8c9cb',GradientType=1 );

}
.C-red {
    color: @red;
}
.Bgc-red {
    background: @red;
}
.C-wht {
    color: @white;
}
.C-grey1 {
    color: @lightGrey;
}
.Bgc-grey1 {
    background: @lightGrey;
}
.C-grey2 {
    color: @grey;    
}
.Bgc-grey2 {
    background: @grey;
}
.C-bk {
    color: @black;
}
.Font-1 {
    font-family: @font1;
}
.Font-2 {
    font-family: @font2;
}
.Ts-1 {
    text-shadow: 0 0 6px @grey;
}
.Bs-1 {
    -webkit-box-shadow: 0 1px 5px @black;
    -moz-box-shadow: 0 1px 5px @black;
    -ms-box-shadow: 0 1px 5px @black;
    box-shadow: 0 1px 5px @black; 
}
.Bs-2 {
    -webkit-box-shadow: 0 1px 5px @grey;
    -moz-box-shadow: 0 1px 5px @grey;
    -ms-box-shadow: 0 1px 5px @grey;
    box-shadow: 0 1px 5px @grey;
}
.header {
    &:after {
        display: block;
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: @red;
        z-index: 100;
    }
}
.logo {
    background: url('../images/logo.png') no-repeat;
    background-size: 100%;
    height: 110px;
    width: 287px;
}
.nav {
    margin: 90px 0 0 0;
    width: 610px;
}
.nav-m-toggle {
    display: none;
}
.nav-m-wrap {
    display: none;
}
.nav-m {
    display: none;
    opacity: 0;
    background: rgba(0,0,0, 0.87);
    .transition(opacity 0.25s ease-in-out);
}
.nav-li {
    width: 95px;
    height: 40px;
    line-height: 40px;
    .nav-li-a {
        &:link,
        &:visited {
            color: @red;
        }
        &:hover {
            color: @grey;
        }
        &:active {
            color: @black;
        }
        &.more {
            padding: 0 5px 0 0;
            &:after {
                display: inline-block;
                content: " ";
                position: relative;
                right: 0;
                top: -2px;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid @red;
            }   
        }
    }
    &.on {
        .nav-li-a {
            &:link,
            &:visited {
                color: @black;
            }
        }
        .snd {
            display: block\9;
            opacity: 1;
            max-height: 1000px;
            z-index: 100;
        }
    }
}
.banner1 {
    right: 100px;
    top: 224px;
    width: 250px;
    h2 {
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 1px;
        text-shadow: 0 0 6px #5d5d5d;
    }
}
.banner2 {
    left: 90px;
    top: 150px;
    width: 250px;
    h2 {
        font-size: 36px;
        line-height: 35px;
        letter-spacing: 1px;
        text-shadow: 0 0 6px #5d5d5d;
    }
}
.banner3 {
    left: 30px;
    top: 0;
    width: 400px;
    h2 {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 1px;
        text-shadow: 0 2px 2px @lightGrey;
        color: @red;
    }
    p {
        color: @grey;
        position: absolute;
        bottom: 10px;
        left: 0;
        text-shadow: none;
        font-size: 15px;
        font-weight: 300;
    }
}
.nav {
    .fst {

    }
    .snd {
        .transition(all 0.25s ease-in-out);
        max-height: 0;
        opacity: 0;
        display: none\9;
        border-bottom: 2px solid @red;
        background: @lightGrey;
        top: 160px;
        padding: 0 0 50px 0;
        a {
            &:link,
            &:visited {
                color: @grey;
            }
            &:hover {
                color: @black;
            }
            &:active {
                color: @white;
            }
        }
        .desc {
            margin: 0 100px 0 0;
        }
    }
    .trd {

    }
}
.slideshow-wrap {
    height: 450px;
    height: 400px\9;
}
.wrap {
    width: 900px;
}
.move {
    .transition(all 0.8s ease-in-out);
}
.easy-wrap {
    border-bottom: 10px solid @red;
    border-top: 10px solid @red;
}
.ft-nav-li {
    margin: 0 15px;
    font-size: 15px;
}
.partner-wrap {
    li {
        margin: 0 15px;
        height: 100px;
    }
}
.social-wrap {
    white-space: nowrap;
    width: 49.5%;
}
.social {
    width: 24%;
    height: 100px;
    .icon {
        height: 75px;
        width: 75px;
    }
}
::-webkit-input-placeholder {
   color: @grey;
   text-indent: 5px;
   font-size: 13px;
}
::-moz-placeholder {
   color: @grey;    
}
:-moz-placeholder {
   color: @grey;
}
:-ms-input-placeholder {
   color: @grey;
}
.signup {
    top: 0;
    &.fixed {
        position: fixed;
        -webkit-box-shadow: 0 2px 5px @black;
        -moz-box-shadow: 0 2px 5px @black;
        -ms-box-shadow: 0 2px 5px @black;
        box-shadow: 0 2px 5px @black;        
    }
}
.signup-form {
    &>ul {
        &>li {
            height: 24px;
            line-height: 20px;
            width: 31.5%;
            margin: 0 1% 5px 0;
            &.wide {
                width:64.5%;
            }
            &>input,
            &>select {
                width: 95%;
                height: 20px;
                &.checkbox {
                    height: 20px;
                    width: 20px;
                }
                font-size: 13px;
                padding: 0 0 3px 0\9;
            }
            &>select {
                width: 100%;
            }
            &>label {
                display: none;
                display: block\9;
            }
            &.focus>label {
                display: none;
            }
            &.hidePlaceholder {
                &>label {
                    display: none;
                }
            }
        }
    }
}
.adv-txt-wrap {
    width: 90%;
}
.icon {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.adv-li {
    width: 19.5%;
    h3 {
        text-align: center;
    }
    .word {
        font-size: 15px;
        display: block;
    }
    .icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}
.why-li {
    height: 60px;
    .icon {
        width: 60px;
        height: 60px;
    }
    .why-txt-wrap {
        width: 90%;
        margin: 0 0 0 10%;
    }
}
.easy-li {
    width: 32%;
    h3 {
        text-align: center;
    }
    .word {
        display: block;
    }
    .icon {
        width: 60px;
        height: 60px;
        line-height: 66px;
        line-height: 60px\9;
        font-family: @font2;
        color: @white;
        margin: 0 auto;
        text-align: center;
        font-size: 42px;
    }
}
.easy-txt-wrap {
    width: 90%;
}
.actions {
    li {
        width: auto;
    }
    a {
        margin: 30px;
        padding: 10px 20px;
    }
}
@media only screen and (min-width: 650px) and (max-width: 900px) { /* tablet or small screen desktop */
    .header {
        
    }
    .logo {
        width: 143.5px;
        height: 55px;
    }
    .wrap {
        width: 600px;
    }
    .nav {
        width: 450px;
        margin: 50px 0 0 0;
        .snd {
            top: 105px;
            font-size: 15px;
            line-height: 26px;
            padding: 0 0 30px 0;
            .desc {
                margin: 0 20px 0 0;
            }
        }
    }
    .nav-m-wrap {
        display: none;
    }
    .nav-li {
        width: 75px;
    }
    .banner1 {
        right: 0;
    }
    .banner2 {
        left: 0;
    }
    .banner3 {
        left: 0;
        h2 {
            font-size: 42px;
            letter-spacing: 0;
        }
    }
    .ft-nav-li {
        margin: 0 5px;
    }
    .social {
        width: 24%;
        height: 80px;
        .icon {
            height: 60px;
            width: 60px;
        }
    }
    .signup-form {
        &>ul {
            &>li {
                width: 48%;
                &.wide {
                    width:48%;
                }
            }
        }
    }
    .partner-wrap {
        padding: 10px 0;
        li {
            height: 45px;
            padding: 10px 0;
        }
    }
    .adv-li {
        width: 100%;
        .adv-txt-wrap {
            width: 90%;
            margin: 0 0 0 10%;
        }
        h3 {
            text-align: left;
        }
        .word {
            font-size: 20px;
            display: inline;
            padding: 0 0 0 5px;
            &:first-child {
                padding: 0;
            }
        }
        .icon {
            width: 45px;
            height: 45px;
            margin: 0;
            float: left;
        }
    }
    .why-li {
        .why-txt-wrap {
            width: 85%;
            margin: 0 0 0 15%;
        }
    }
    .actions {
        a {
            margin: 30px 5px;
            padding: 10px 10px;
        }
    }
}

@media only screen and (max-width: 650px) { /* smartphone */
    .nav {
        display: none;
    }
    .logo {
        width: 143.5px;
        height: 55px;
        margin: 20px 0 10px 0;
    }
    .wrap {
        width: 95%;
    }
    .nav-m-wrap {
        display: block;
    }
    .nav-m-toggle {
        display: block;
    }
    .slideshow-wrap {
        height: 240px;
    }
    .banner1 {
        right: 0;
        top: 80px;
        h2 {
            line-height: 22px;
            letter-spacing: 0.8px;
            font-size: 22px;
            text-shadow: 0 0 6px #333;
        }
        p {
            font-size: 13px;
            line-height: 18px;
        }
    }
    .banner2 {
        left: 0;
        top: 80px;
        width: 200px;
        h2 {
            line-height: 26px;
            letter-spacing: 0.8px;
            font-size: 26px;
            text-shadow: 0 0 6px #333;
        }
        p {
            font-size: 13px;
        }
    }
    .banner3 {
        left: 20px;
        top: 0;
        width: 250px;
        h2 {
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0;
        }
    }
    .advantages {
        h2 {
            font-size: 24px;
        }
    }
    .ft-nav-li {
        margin: 0 5px;
        font-size: 13px;
    }
    .partner-wrap {
        padding: 10px 0;
        li {
            height: 45px;
            padding: 5px 0;
            margin: 0 8px;
        }
    }
    .social-wrap {
        width: 100%;
    }
    .social {
        width: 24%;
        height: 80px;
        .icon {
            height: 60px;
            width: 60px;
        }
    }
    .signup-form {
        &>ul {
            &>li {
                width: 48%;
                height: 28px;
                margin: 0 5px 10px 0;
                &.wide {
                    width: 48%;
                    height: 28px;
                }
                .longtxt {
                    display: none;
                }
                input {
                    width: 95%;
                    height: 24px;
                    &.checkbox {
                        height: 20px;
                        width: 20px;
                    }
                }
                select {
                    width: 100%;
                    height: 24px;
                }
            }
        }
    }
    .adv-li {
        width: 100%;
        .adv-txt-wrap {
            width: 88%;
            margin: 0 0 0 12%;
        }
        h3 {
            text-align: left;
        }
        .word {
            font-size: 18px;
            display: inline;
            padding: 0 0 0 5px;
            &:first-child {
                padding: 0;
            }
        }
        .icon {
            width: 40px;
            height: 40px;
            margin: 4px 0 0 0;
            float: left;
        }
    }
    .why-li {
        height: 60px;
        .icon {
            width: 40px;
            height: 40px;
        }
        .why-txt-wrap {
            width: 88%;
            margin: 0 0 0 18%;
        }
    }
    .easy-li {
        width: 100%;
        .easy-txt-wrap {
            width: 88%;
            margin: 0 0 0 12%;
        }
        h3 {
            text-align: left;
            margin: 12px 0 6px 0;
        }
        .word {
            display: inline;
        }
        .icon {
            width: 40px;
            height: 40px;
            line-height: 44px;
            margin: 0;
            float: left;
            font-size: 24px;
        }
    }
    .actions {
        li {
            width: 70%;
        }
        a {
            margin: 10px 5px;
            padding: 10px 10px;
        }
    }
}