<div class="actions">
    <ul class="Pt-30 Pb-30">
        {{#actions}}<li class="D-ib">
            <a class="D-b Td-0 Bgc-red C-wht H-100 Bdr-r20 Bs-2 Fz-3" href="{{url}}">{{name}}</a>
        </li>{{/actions}}
    </ul>
</div>