<h2 class="Fz-7 Fw-2 C-grey2 Ta-c Font-1 Mb-30">Five advantages to learning with TutorMing</h2>
<ul class="Pos-r">
    {{#advantages}}<li class="adv-li D-ib Va-t {{classnames}}">
        <div class="adv-txt-wrap M-0a">
            <h3 class="C-grey2 Fw-5 Ls-4 Lh-4 Mt-15">{{{title}}}</h3>
            <p class="C-grey2 Fz-2 Lh-3 Mt-0">{{{desc}}}</p>
        </div>
    </li>{{/advantages}}
</ul>