<h2 class="">Five advantages to learning with TutorMing</h2>
<ul>
    <li>
        <h3>
            <span class="Cf">Anytime</span>
            <span class="Cf">Anywhere</span>
        </h3>
        <p>Whether you are at home, on the go, out of town, using a laptop or tablet... As long as you have Internet, we are here to teach. Doesn't matter if you are an early bird or night owl, we habe lessons for you.</p>
    </li>
    <li>
        <h3>
            <span class="Cf">Individualized</span>
            <span class="Cf">Attention</span>
        </h3>
        <p>The user experience is at the heart of everything we do. Our sophisticated technology platform ensures that you are matched with the best consultants and course materials to suit you.</p>
    </li>
    <li>
        <h3>
            <span class="Cf">Technology</span>
            <span class="Cf">Based</span>
        </h3>
        <p>We believe that education should be innovative. Our online classroom features an integrated whiteboard, instant message, quality video and sould - all the benefits of being in a physical classroom.</p>
    </li>
    <li>
        <h3>
            <span class="Cf">Certified</span>
            <span class="Cf">Consultants</span>
        </h3>
        <p>Quality instruction is important to us. Our world-class consultants are all selectively chosen native Chinese speakers, who then undergo specific training with TutorMing. Each one of them is certified.</p>
    </li>
    <li>
        <h3>
            <span class="Cf">Privacy</span>
            <span class="Cf">Protection</span>
        </h3>
        <p>We offer a one-way webcam system. You can see our consultants, but our consultant cannot see your, so ylu can try speaking Chinese with confidence.</p>
    </li>
</ul>