<div class="nav-m Pos-a W-100 H-100 T-0 L-0 Z-3 Pb-20">
    <button class="nav-m-close Pos-a" style="top:35px;right:15px">Close</button>
    <nav>
        <ul class="" style="margin:85px 0 0 20px">
            {{#menu}}
            <li class="Lh-10">
                <a class="Fz-5 D-b W-100 H-100 C-wht Td-0 Fw-1" href="{{url}}" data-index={{@index}}>
                    {{name}}
                </a>
            </li>
            {{/menu}}
        </ul>
    </nav>
</div>
