<div class="nav-m">
    <nav>
        <ul>
            {{#menu}}
            <li class="">
                <a class="" href={{url}} data-index={{@index}}>
                    {{name}}
                </a>
            </li>
            {{/menu}}
        </ul>
    </nav>
</div>
