<ul class="partner-wrap D-ib">
    {{#partners}}<li class="D-ib W-100 H-100" style="{{{style}}}">
        <div class="icon M-0a W-100 H-100" style="background-image:url(../images/partner-logos/{{image}})">
            <span class="noTxt">{{name}}</span>
        </div>
    </li>{{/partners}}
</ul>
