<form class="signup-form">
    <ul class="Lh-6">
        <li class="D-ib Pos-r Va-t placeholder">
            <label class="Pos-a L-0 Z-1 Fz-2 C-grey2 D-b W-100" style="text-indent:2px">First Name</label>
            <input class="D-b Bgc-grey1 Bdr-0 Pos-r W-100 H-100" type="text" placeholder="First Name" />
        </li>
        <li class="D-ib Pos-r Va-t placeholder">
            <label class="Pos-a L-0 Z-1 Fz-2 C-grey2 D-b W-100" style="text-indent:2px">Last Name</label>
            <input class="D-b Bgc-grey1 Bdr-0 Pos-r W-100 H-100" type="text" placeholder="Last Name" />
        </li>
        <li class="D-ib Pos-r Va-t placeholder">
            <label class="Pos-a L-0 Z-1 Fz-2 C-grey2 D-b W-100" style="text-indent:2px">Phone</label>
            <input class="D-b Bgc-grey1 Bdr-0 Pos-r W-100 H-100" type="text" placeholder="Phone" />
        </li>
        <li class="D-ib Pos-r Va-t placeholder">
            <label class="Pos-a L-0 Z-1 Fz-2 C-grey2 D-b W-100" style="text-indent:2px">Email</label>
            <input class="D-b Bgc-grey1 Bdr-0 Pos-r W-100 H-100" type="text" placeholder="Email" />
        </li>
        <li class="D-ib Va-t">
            <select class="Bgc-grey1 Fz-2 D-b Bdr-0 C-grey2" style="height:22px">
                <option value="">Location</option>
                <option value="us">United States</option>
                <option value="ca">Canada</option>
                <option value="cn">China</option>
                <option value="tw">Taiwan</option>
            </select>
        </li>
        <li class="D-ib Va-t">
            <input class="D-ib Bgc-grey1 Bdr-0 checkbox" type="checkbox" name="receiveEmail" style="vertical-align:middle;"/>
            <span class="C-grey1 Fz-1">I agree to receive Email <span class="longtxt">from TutorMing</span></span>
        </li>
        <li class="D-ib Va-t wide Pos-r placeholder">
            <label class="Pos-a L-0 Z-1 Fz-2 C-grey2 D-b W-100" style="text-indent:2px">How did you hear about us?</label>
            <input class="Bgc-grey1 Fz-2 D-b W-100 H-100 Bdr-0" type="text" placeholder="How did you hear about us?" />
        </li>
        <li class="D-ib Va-t">
            <input class="Bgc-red C-wht Fz-2 D-b W-100 H-100 Bdr-0 submit" type="submit" value="Request a Free Demo" style="border-radius:8px;text-indent:0;line-height:17px;height:30px" />
        </li>
    </ul>
</form>