<h2 class="">Why Learn Chinese?</h2>
<ul>
    <li>
        <h3>Join over 1 billion other people in speaking the language</h3>
        <p>Learn Chinese to connect better with friends, colleagues, or business contacts.</p>
    </li>
    <li>
        <h3>Open yourself up more job opportunities</h3>
        <p>China is the world's second-largest economic power, as well as one of the top trade partners of the world. Learn Chinese to give yourself an extra competitive edge.</p>
    </li>
    <li>
        <h3>Expose yourself to a new culture</h3>
        <p>China has one of the oldest and richest heritages of the world. Learning Chinese will help you better understand its people, customs, and traditions.</p>
    </li>
</ul>