<h2 class="Fz-6 Ls-2 Fw-1 Font-2 C-grey2">{{why-title}}</h2>
<ul>
    {{#why}}
    <li class="why-li W-100 C-grey2 Cf Mb-20 D-t">
        <div class="icon F-l" style="width:60px;height:60px;background-image: url(../images/bullet.gif);"></div>
        <div class="why-txt-wrap D-tc Va-m">
            <h3 class="Fz-3 M-0 Pt-5 Pb-5">{{{title}}}</h3>
            <p class="Fz-3 M-0 Lh-3">{{{desc}}}</p>
        </div>
    </li>
    {{/why}}
</ul>