.C-red {
  color: #be0428;
}
.C-wht {
  color: #ffffff;
}
.C-grey1 {
  color: #c2c2c2;
}
.C-grey2 {
  color: #5d5d5d;
}
.C-bk {
  color: #000000;
}
.header {
  border-bottom: 2px solid #be0428;
}
.header .logo {
  background: url('../images/logo.png') no-repeat;
  height: 110px;
  width: 287px;
  margin: 30px 0 0 0;
  padding: 0 0 20px 0;
}
.nav-li {
  width: 100px;
  height: 40px;
  line-height: 40px;
}
.nav-li > li > a:link,
.nav-li > li > a:visited {
  color: #be0428;
}
.nav-li > li > a:hover {
  color: #5d5d5d;
}
.nav-li > li > a:active {
  color: #000000;
}
.nav .snd {
  display: none;
}
