<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Tutor Ming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="./production.css" inline></link>
    </head>
    <body>
        <div class="container M-0a">
            <div class="header Cf Pos-r">
                <header>
                    <div class="M-0a Cf wrap">
                        <h1 class="logo F-l"><span class="noTxt">Tutor Ming</span></h1>
                        <div class="nav F-r Ws-nw">
                            {{>menu}}
                        </div>
                    </div>
                </header>
            </div>
            <button class="Pos-a nav-m-toggle" style="top:32px; right:15px">三</button>
            <div class="nav-m-wrap">
                {{>menu-m}}
            </div>
            <div class="body">
                <section>
                    <div class="W-100 Pos-r hero1">
                        <div class="M-0a Pos-r wrap">
                            <div class="Pos-a Z-2 banner1">
                                <h2 class="Font-2 M-0 Mb-5 C-wht Fw-1">
                                    <span class="Cf">24/7 Learning is</span>
                                    <span class="Cf">just a click away</span>
                                </h2>
                                <p class="Font-1 M-0 C-wht Fw-1 Ts-1">Enjoy learning Chinese in the most fun and easiest way possible. Anytime, Anywhere, TutorMing.</p>
                            </div>
                        </div>
                        <div class="Pos-a T-0 W-100 H-100 Z-1" style="background-position: 50% 50%;background-size: cover;background-image:url(images/banner1.jpg)"></div>
                    </div>
                </section>
                <section>
                    <div>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    <p>blah blah blah</p>
                    </div>
                </section>
            </div>
            <div class="footer"></div>
            <div class="pop D-n"></div>
        </div>
    </body>
    <script src="./production.js" inline></script>
</html>