<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Tutor Ming</title>
        <link rel="stylesheet" href="../../output/production.css" inline></link>
    </head>
    <body>
        <div class="M-0a">
            <div class="header Cf">
                <header>
                    <div class="M-0a Pos-r Cf" style="width:900px">
                        <h1 class="logo F-l"><span class="noTxt">Tutor Ming</span></h1>
                        <div class="nav main Pos-a R-0" style="bottom:30px">
                            {{>menu}}
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </body>
    <script src="../../output/production.js" inline></script>
</html>