<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Tutor Ming</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="./production.css"></link>
    </head>
    <body>
        <div class="container M-0a">
            <div class="header Cf Pos-a W-100 Z-3">
                <header>
                    <div class="M-0a Cf wrap">
                        <h1 class="logo F-l Mt-30"><span class="noTxt">Tutor Ming</span></h1>
                        <div class="nav F-r Ws-nw">
                            {{>menu}}
                        </div>
                    </div>
                </header>
            </div>
            <button class="Pos-a nav-m-toggle Bdr-0" style="top:32px; right:15px"><span class="noTxt">Toggle Navigation</span></button>
            <div class="nav-m-wrap">
                {{>menu-m}}
            </div>
            <div class="body">
                <section>
                    <div class="hero1 W-100 Pos-r slideshow-wrap Ov-h">
                        {{#hero1}}{{>slideshow}}{{/hero1}}
                    </div>
                </section>
                <section>
                    <div class="fixedOnScroll">
                        <div class="signup W-100 Bgc-grey2 Pt-10 Pb-5 Z-4">
                            <div class="wrap M-0a">
                                {{>signup-form}}
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="Bgc-pale">
                        <div class="why wrap M-0a Pt-30 Pb-30">
                            {{>why-learn-chinese}}
                        </div>
                    </div>
                </section>
                <section>
                    <div class="hero2 W-100 Pos-r slideshow-wrap Ov-h">
                        {{#hero2}}{{>slideshow}}{{/hero2}}
                    </div>
                </section>
                <section>
                    <div class="Bgc-pale">
                        <div class="wrap M-0a Pt-20 Pb-30 advantages">
                            {{>advantages}}
                        </div>
                    </div>
                </section>
                <section>
                    <div class="hero3 W-100 Pos-r slideshow-wrap Ov-h">
                        {{#hero3}}{{>slideshow}}{{/hero3}}
                    </div>
                </section>
                <section>
                    <div class="Bgc-grey2">
                        <div class="wrap M-0a Ta-c">
                            {{>partners}}
                        </div>
                    </div>
                </section>
                <section>
                    <div class="Bgc-pale">
                        <div class="wrap M-0a Ta-c">
                            {{>actions}}
                        </div>
                    </div>
                </section>
                <section>
                    <div class="Bgc-pale">
                        <div class="easy-wrap W-100 Pb-30">
                            <div class="easy wrap M-0a Pt-30 Pb-30">
                                {{>easy}}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="footer" style="height:400px">
                <div class="M-0a Cf wrap Ta-c">
                    {{>footer}}
                </div>
            </div>
        </div>
    </body>
    <script src="./production.js"></script>
</html>