<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Tutor Ming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="./production.css" inline></link>
    </head>
    <body>
        <div class="container M-0a">
            <div class="header Cf Pos-r">
                <header>
                    <div class="M-0a Cf wrap">
                        <h1 class="logo F-l"><span class="noTxt">Tutor Ming</span></h1>
                        <div class="nav F-r Ws-nw">
                            {{>menu}}
                        </div>
                    </div>
                </header>
            </div>
            <button class="Pos-a nav-m-toggle" style="top:32px; right:15px">三</button>
            <div class="nav-m-wrap">
                {{>menu-m}}
            </div>
            <div class="body">
                    <section>
                        <div class="W-100 Pos-r slideshow-wrap Ov-h">
                            {{#hero1}}
                                {{>slideshow}}
                            {{/hero1}}
                        </div>
                    </section>
                    <section>
                        <div class="wrap M-0a">
                        <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah</p>
                        <p>blah blah blah</p>
                        <p>blah blah blah</p>
                        <p>blah blah blah</p>
                        <p>blah blah blah</p>
                        <p>blah blah blah</p>
                        <p>blah blah blah</p>
                        <p>blah blah blah</p>
                        <p>blah blah blah</p>
                        </div>
                    </section>
                    <section>
                        <div class="W-100 Pos-r slideshow-wrap Ov-h">
                            {{#hero2}}
                                {{>slideshow}}
                            {{/hero2}}
                        </div>
                    </section>
            </div>
            <div class="footer" style="height:400px">
                <footer>
                    <div class="M-0a Cf wrap Ta-c">
                    {{>footer}}
                    </div>
                </footer>
            </div>
            <div class="pop D-n"></div>
        </div>
    </body>
    <script src="./production.js" inline></script>
</html>